@import '../base/root';

.header {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 2;
    padding-top: 50px;

}

.header-block {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.header__left {
    text-align: left;
}

.header__logo {
    a {
        display: inline-block;
    }
}

.header__right {
    text-align: right;
}

.header__list>:last-child {
    margin-right: 0;
}

.header__list--item {
    display: inline;
    vertical-align: middle;
    line-height: 3;
    margin-right: 55px;
    font-weight: map-get($font-weight, bold);
    color: $secondary-color;
}

.header__list--item>a {
    text-decoration: none;
    color: $secondary-color;
}

// MENU
.menu {
    display: none;
}

.mobile-menu {
    display: none;
}

.top {
    position: absolute;
    background-color: $secondary-color;
    width: 30px;
    height: 5px;
    top: 10px;
    left: 10px;
    transition: transform .8s;
}

.bottom {
    position: absolute;
    background-color: $secondary-color;
    width: 30px;
    height: 5px;
    top: 25px;
    left: 10px;
    transition: transform .8s;
}

.box {
    background-color: green;
    width: 50px;
    height: 50px;
}