.about__left-cards {
    width: calc(50% - 30px);

}

.about__right-cards {
    margin-left: 30px;
    width: calc(50% - 30px);
}

.about-section__row {
    margin-top: 20px;
}

.about-icons {
    margin-top: 30px;
}

.about-icons__item {
    display: inline-block;
}

.about-icons__item img {
    height: 43px;
    margin-right: 140px;
}