.about::before {
    content: "ABOUT";
    color: $accent-color;
    display: inline-block;
    margin-right: 40px;
    transform: rotate(-90deg) translateX(-50px) translateY(-40px);
}

.about__left-cards {
    width: calc(50% - 30px);

}

.about__right-cards {
    // margin-left: 30px;
    width: calc(50% - 40px);
    padding: 0;
}

.about-section__row {
    margin-top: 20px;
}

.about-icons {
    margin-top: 30px;
}

.about-icons__item {
    display: inline-block;
    padding: 0 40px;
}

.about-icons__item img {
    height: 43px;
    margin-right: 140px;
}