.contact {
    margin-top: 100px;
    padding: 0 40px;
}

.contact-card {
    display: inline-block;
    width: 30%;

    &::before {
        content: 'Contacts';
        font-size: 28px;
        line-height: 30px;
        display: inline-block;
        margin-bottom: 40px;
    }
}



.contact__icons {
    margin-top: 30px;
}

.contact__icons-item {
    display: inline-block;
}

.contact-forms {
    position: relative;
    display: inline-block;
    width: calc(60% - 30px);
    padding-left: 30px;
}

.submit {
    display: inline-block;

}

.contact-input {
    width: 100%;
    border: none;
    height: 40px;
    border-bottom: 1px solid $accent-color;

    &:placeholder-shown {
        color: $accent-color;
        font-size: 16px;
        opacity: 0.5;
        margin-bottom: 30px;
    }

    &:focus {
        outline: transparent;
    }
}

.contact__icons-item {
    margin-right: 30px;
}

.submit-button {
    position: absolute;
    top: 10px;
    right: -40px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}