.works {
    // padding: 0 40px;

    // position: relative;
    &::before {
        content: 'WORKS';
        display: inline-block;

        margin-right: 40px;
        transform: rotate(-90deg) translateX(-40px) translateY(-40px);

    }
}

// .works-container {
//     padding: 0 40px;
// }

.works__left-section-card1 {
    position: relative;
    height: 505px;
    width: calc(100% - 30px);
    background-image: url(#{$assetPath}/1.png);
    background-size: cover;
}

.works__left-section-card2 {
    @extend .works__left-section-card1;
    height: 667px;
    background-image: url(#{$assetPath}/3.png);
    margin-top: 60px;
}

.works__left-section-card3 {
    @extend .works__left-section-card1;
    height: 737px;
    margin-left: 30px;
    background-image: url(#{$assetPath}/2.png);
}

.works__left-section-card4 {
    @extend .works__left-section-card1;
    height: 435px;
    margin-left: 30px;
    margin-top: 60px;
}

.card-desc {
    position: absolute;
    bottom: 60px;
    left: 60px;

}